---
import Layout from '../../layouts/Layout.astro';
import Region from '../../components/cms/Region.astro';

const { slug } = Astro.params;

const res = await fetch("https://feinheit.ch/blog/" + slug, {
    headers: {
        "Accept": "application/json"
    }
})

if (res.status === 404) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found'
    });
}

const article = await res.json()

---

<Layout title={article.title}>
    <div class="article">
		<h1 class="title">{article.title}</h1>
        <Region region={article.regions.main} />
    </div>
</Layout>

<style>
.title {
    margin-bottom: 3rem;
    line-height: 1.3;
}

.article {
    margin-top: 3rem;
}
</style>